{% extends 'base.html' %}

{% block content %}

    <div class="container" id="container" style="margin-top: 80px;">

        {% block profile_info %}
        {% endblock %}
        {% block tag_info %}
        {% endblock %}
        {% block post_form %}
        {% endblock %}
        {% block post_content %}
        {% endblock %}
    </div>

    <script>
        function like(postId) {

            $.ajax({
                type: 'POST',
                url: {% url 'post_like_toggle' %},
                data: {
                    'post_id': postId,
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                },
                success: likePost,
                dataType: 'html'
            });

            function likePost(data) {
                let likeJson = $.parseJSON(data);
                let specificLike = document.getElementById(`numOfLikes${postId}`);
                specificLike.innerText = likeJson.numOfLikes.toString();

                if (likeJson['liked']) {
                    document.getElementById(`thumb${postId}`).style.color = "white";
                } else {
                    document.getElementById(`thumb${postId}`).style.color = "green";
                }
            }
        }

        function getNotifications() {

            let whereToAdd = document.getElementById('notifications');
            whereToAdd.querySelectorAll('*').forEach(element => {
                element.remove();
            });
            whereToAdd.style = 'right: -100%; top: 100%; width: 450px;';

            $.ajax({
                type: 'GET',
                url: {% url 'check_notifications' %},
                data: {
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                },
                success: createNotifications,
                dataType: 'html'
            });

            function createNotifications(data) {
                let notificationsJson = JSON.parse(data);
                let notifications = notificationsJson['notifications'];

                if (notifications.length < 1) {
                    whereToAdd.style = 'width: fit-content; right: -1%; top: 100%;';
                    let div = document.createElement('div');
                    div.innerHTML = '<span style="color: black;">No notifications</span>';
                    div.style = 'text-align: center;'
                    whereToAdd.appendChild(div);
                } else {
                    notifications.forEach(element => {
                        let div = document.createElement('div');
                        let elementToAppend = `<a href=/post/${element.where} style="width: inherit;">${element.from} wspomniał o tobie w swoim poście.</a>`;
                        let deleteNotificationButton = document.createElement('div');
                        deleteNotificationButton.innerHTML = `<a id="${element.id}" onclick="deleteNotification(this.id)"><i class="fas fa-ban"></i></a>`;
                        div.innerHTML = elementToAppend;
                        div.style = 'width: inherit; display: flex; float: right; cursor: pointer;';
                        whereToAdd.appendChild(div);
                        div.appendChild(deleteNotificationButton);
                    });
                }
            }

            document.querySelector(`div.myDropdown.notifications`).classList.toggle("show");
        }

        function deleteNotification(id) {
            let notificationId = id;

            $.ajax({
                type: 'DELETE',
                url: `/notification/delete/${notificationId}`,
                headers: {
                    "X-CSRFToken": $('input[name=csrfmiddlewaretoken]').val(),
                },
                data: {
                    'id': notificationId,
                    //'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                },
                success: deleteNotificationRow,
                dataType: 'html',
            });

            function deleteNotificationRow() {
                let notToDelete = document.getElementById(`${notificationId}`);
                notToDelete.remove();
                getNotifications();
                document.querySelector(`div.myDropdown.notifications`).classList.toggle("show");
            }
        }

        function getBlacklist() {
            let whereToAdd = document.getElementById('blacklist');
            whereToAdd.querySelectorAll('*').forEach(element => {
                element.remove();
            });
            whereToAdd.style = 'width: 200px; left: -10%; top: 100%;';

            $.ajax({
                type: 'GET',
                url: {% url 'check_blacklist' %},
                data: {
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                },
                success: createBlacklist,
                dataType: 'html',
            });

            function createBlacklist(data) {
                let blackListJson = JSON.parse(data);
                let blackList = blackListJson['blackList']

                if (blackList.length < 1) {
                    whereToAdd.style = 'width: fit-content; right: 1%; top: 100%;';
                    let div = document.createElement('div');
                    div.innerHTML = '<span style="color: black;">No users in blacklist</span>';
                    div.style = 'text-align: center;'
                    whereToAdd.appendChild(div);
                } else {
                    blackList.forEach(element => {
                        let div = document.createElement('div');
                        div.style = 'width: inherit; display: flex; float: right;';
                        let elementToAppend = `<span style="width: inherit; color: black; padding-left: 10px; padding-top: 4px;">${element.blocked}</span>`;
                        let removeFromBlacklistButton = document.createElement('div');
                        removeFromBlacklistButton.innerHTML = `<a id="${element.id}" onclick="removeFromBlacklist(this.id)" style="cursor: pointer;"><i class="fas fa-ban"></i></a>`;
                        div.innerHTML = elementToAppend;
                        whereToAdd.appendChild(div);
                        div.appendChild(removeFromBlacklistButton);
                    });
                }
                document.querySelector(`div.myDropdown.blacklist`).classList.toggle("show");
            }
        }

        function removeFromBlacklist(id) {

            $.ajax({
                type: 'DELETE',
                url: `blacklist/remove/${id}`,
                headers: {
                    "X-CSRFToken": $('input[name=csrfmiddlewaretoken]').val(),
                },
                data: {
                    'id': id,
                    //'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                },
                success: deleteBlacklistRow,
                dataType: 'html',
            });

            function deleteBlacklistRow() {
                location.reload();
                let rowToDelete = document.getElementById(`${id}`);
                rowToDelete.remove();
                getBlacklist();

            }

            document.querySelector(`div.myDropdown.blacklist`).classList.toggle("show");
        }

        function deletePost(id) {
            $.ajax({
                type: 'DELETE',
                url: `delete/${id}`,
                headers: {
                    "X-CSRFToken": $('input[name=csrfmiddlewaretoken]').val(),
                },
                data: {'id': id},
                success: deletePostHtml,
                dataType: 'html',
            })

            function deletePostHtml() {
                document.getElementById(`wpis${id}`).remove();
            }
        }

        function postCounter(msg) {
            document.getElementById('counter_div').innerHTML = msg.value.length + '/300';
        }

        function commentOnFocusCreate(id) {
            let commentForm = document.getElementById(`add-comment-form${id}`);
            let counterDiv = document.createElement('div');
            counterDiv.innerHTML = '0/100';
            counterDiv.id = `comment-counter${id}`;
            commentForm.appendChild(counterDiv);
        }

        function commentOnFocusRemove(id, input) {
            input.value = '';
            document.getElementById(`comment-counter${id}`).remove();
        }

        function commentCounter(id, msg) {
            document.getElementById(`comment-counter${id}`).innerHTML = msg.value.length + '/100';
        }

    </script>

{% endblock %}
