{% extends 'mikroblog/post_details.html' %}

{% block post_content %}
    <form id="add-post-form" method="POST" style="margin: auto; max-width: 600px; margin-bottom: 30px;">
        <div id="counter_div">0/300</div>
        {% csrf_token %}
        <textarea rows="5" cols="60" maxlength="300" onkeyup="postCounter(this);" name="content_post"
                  placeholder="Type here" class="form-control" required autofocus>{{ post.content_post }}</textarea>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Edit post</button>
    </form>
{% endblock %}