{% extends 'base.html' %}

{% block content %}
    <style>
        html {
            margin: 0px;
            height: 100%;
            width: 100%;
        }

        body {
            margin: 0px;
            min-height: 100%;
            width: 100%;
            background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
        }

        .form-signin {
            width: 333px;

            position: fixed;
            top: 50%;
            left: 50%;

            transform: translate(-50%, -50%);
        }

        .errorlist.nonfield {
            padding-left: 20px !important;
            padding-top: 20px;

        }
    </style>


    <form class="form-signin" method="POST">{% csrf_token %}
        <h1 class="h3 mb-3 font-weight-normal" align="center">Welcome back</h1>
        <input type="email" name="username" id="inputEmail" class="form-control" placeholder="Email address" required
               autofocus>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>

        {% if form.non_field_errors %}
            <span>{{ form.non_field_errors }}</span>
        {% endif %}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>

    </form>








{% endblock %}